@import '../../mixins.scss';

.myLoader {
    width: 100%;
    min-height: calc(100vh-80px);

    @include md {
        left: 45vw;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h2 {
        color: #212121;
    }
}